<div class="row">
    <% if current_user[:function] == "recycler" %>
        <div class="col-lg-offset-5 col-lg-2 form_label"><h1>Recycer</h1></div>
     <% else %>
        <div class="col-lg-offset-5 col-lg-2 form_label"><h1>Redeemer</h1></div>
     <% end %>
 </div>
 <h4>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">First Name:</div>
        <div class= "col-lg-6">
          <a href="/profiles/<%= @profile.id %>"><%= @profile.first_name %>  </a>
        </div>
        <div class="col-lg-offset-4 col-lg-2 form_label">Last Name:</div>
        <div class="col-lg-6"><%= @profile.last_name %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Email:</div>
        <div class="col-lg-6"><%= @profile.email %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Phone:</div>
        <div class="col-lg-6"><%= @profile.phone %></div>
    </div>
<% if @user[:function] == "recycler" %>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Address Line 1:</div>
        <div class="col-lg-6"><%= @profile.addr_line_1 %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Address Line 2:</div>
        <div class="col-lg-6"><%= @profile.addr_line_2 %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">City:</div>
        <div class="col-lg-6"><%= @profile.city %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">State:</div>
        <div class="col-lg-6"><%= @profile.state %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Zipcode:</div>
        <div class="col-lg-6"><%= @profile.zipcode %></div>
    </div>
<% else %>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">DMV:</div>
        <div class="col-lg-6"><%= @profile.dmv_number %></div>
    </div>
<% end %>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Edit / Delete:</div>
        <div class="col-lg-6"><%= link_to "Edit", edit_profile_path(@profile) %> <!-- /profiles/:id -->

        <%= link_to "Delete", profile_path(@profile), :method => :delete, :confirm => "Are you sure?" %></div>
    </div>
  </h4>
</div>