<div class="row">
  <div class="col-sm-offset-4 col-sm-4 "><h1>Sign Up as <%= @function %></h1></div>
</div>
<%= form_for @user do |f| %>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-2 form_label"><%= f.label :username %></div>
    <div class="col-sm-2"><%= f.text_field :username %></div>
  </div>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-2 form_label"><%= f.label :password %></div>
    <div class="col-sm-2"><%= f.password_field :password %></div>
  </div>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-2 form_label"><%= f.label :password_confirmation %></div>
    <div class="col-sm-2"><%= f.password_field :password_confirmation %></div>
  </div>
  <div class="row">
    <div class="col-sm-2"><%= f.hidden_field :function, :value => @function %></div>
  </div>
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2 btn btn-primary"><%= f.submit %>
  </div>
<% end %>