<%= form_for Redeemer.new do |f| %>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-2 form_label"><%= f.label :username %></div>
    <div class="col-lg-2"><%= f.text_field :username %></div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-2 form_label"><%= f.label :email %></div>
    <div class="col-lg-2"><%= f.text_field :email %></div>
  </div>

  <div class="row">
    <div class="col-lg-offset-4 col-lg-2 form_label"><%= f.label :password %></div>
    <div class="col-lg-2"><%= f.password_field :password %></div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-2 form_label"><%= f.label :password_confirmation %></div>
    <div class="col-lg-2"><%= f.password_field :password_confirmation %></div>
  </div>
  <div class="row">
    <!-- <div class="col-lg-offset-4 col-lg-2 form_label"><%# f.label :function %></div> -->
    <div class="col-lg-2"><%= f.hidden_field :function, :value => @function %></div>
   <!-- <div class="col-lg-2"><%# f.select( :function, ['recycler', 'redeemer'] ) %></div> -->
  </div>

  <div class="row">
    <div class="col-lg-offset-5 col-lg-2 btn btn-primary"><%= f.submit %>
  </div>
<% end %>