<h4>
<%= form_for @recycler_redeemer do  |f|  %>
<% bag_options = ['0 bags', '1 bag', '2 bags', '3 bags', '4 bags', '5 bags', '6 bags', '7 bags', '8 bags', '9 bags', '10 or more']%>
<% other_options = [ 'none', 'cardboard', 'glass', 'aluminum', 'plastic']%>
    <div class="col-sm-offset-4 col-sm-2 form_label">Recycler Id:</div>
    <div class="col-sm-6"><%= f.text_field :recycler_id, placeholder: "< recycler id >" %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Redeemer Id:</div>
    <div class="col-sm-6"><%= f.text_field :redeemer_id, placeholder: "< redeemer id >" %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Plastic:</div>
    <div class="col-sm-6"><%= f.select( :plastic, bag_options ) %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Glass:</div>
    <div class="col-sm-6"><%= f.select( :glass, bag_options ) %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Cans:</div>
    <div class="col-sm-6"><%= f.select( :cans, bag_options ) %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Other:</div>
    <div class="col-sm-6"><%= f.select( :other, other_options ) %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Selection Date:</div>
    <div class="col-sm-6"><%= f.text_field :selection_date %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Completion Date:</div>
    <div class="col-sm-6"><%= f.text_field :completion_date %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Rating:</div>
    <div class="col-sm-6"><%= f.text_field :rating %></div>


    <div class="col-sm-offset-5 col-sm-3 btn btn-primary"><%= f.button "Save Recycler_Redeemer" %></div>
<% end %>
</h4>
