<div class="col-lg-7 col-lg-offset-5"><h1>All Transactions</h1></div>
<h4>
  <div class="col-lg-offset-1 col-lg-2">Recycler</div>
  <div class="col-lg-2">Redeemer</div>
  <div class="col-lg-1">Plastic</div>
  <div class="col-lg-1">Glass</div>
  <div class="col-lg-1">Cans</div>
  <div class="col-lg-1">Other</div>
  <div class="col-lg-1">Select</div>
  <div class="col-lg-1">Complete</div>
  <div class="col-lg-1">Rating</div>
</h4>
<h5>
<% @recycler_redeemers.each do |recycler_redeemer| %>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-2">
      <a href="/recycler_redeemers/<%= recycler_redeemer.id %>">
        <%= recycler_redeemer.recycler[:first_name] %>
        <%= recycler_redeemer.recycler[:last_name] %>
      </a>
    </div>
    <div class="col-lg-2">
        <%= if recycler_redeemer.redeemer then recycler_redeemer.redeemer[:first_name] end %>
        <%= if recycler_redeemer.redeemer then recycler_redeemer.redeemer[:last_name] end %>
    </div>
    <div class="col-lg-1"><%= recycler_redeemer.plastic %></div>
    <div class="col-lg-1"><%= recycler_redeemer.glass %></div>
    <div class="col-lg-1"><%= recycler_redeemer.cans %></div>
    <div class="col-lg-1"><%= recycler_redeemer.other %></div>
    <div class="col-lg-1"><%= if recycler_redeemer.selection_date then recycler_redeemer.selection_date.strftime("%b %d") end %></div>
    <div class="col-lg-1"><%= if recycler_redeemer.completion_date then recycler_redeemer.completion_date.strftime("%b %d") end  %></div>
    <div class="col-lg-1"><%= recycler_redeemer.rating %></div>
  </div>
    <% end %>
</h5>
</br></br>
<h4>

<div class="col-lg-offset-5 col-lg-3">
  <%= link_to "Add New Recycler_Redeemer", new_recycler_redeemer_path %>
</div>
<div class="col-lg-5"></div>
</h4>
