<div class="col-sm-7 col-sm-offset-5"><h1>Edit Transaction</h1></div>
<%# render "form"  %>
<h4>
<%= form_for @transaction do  |f|  %>
<% bag_options = ['0 bags', '1 bag', '2 bags', '3 bags', '4 bags', '5 bags', '6 bags', '7 bags', '8 bags', '9 bags', '10 or more']%>
<% other_options = [ 'none', 'cardboard', 'glass', 'aluminum', 'plastic']%>

    <div class="col-sm-offset-4 col-sm-2 form_label">Plastic:</div>
    <div class="col-sm-6"><%= f.select( :plastic, bag_options ) %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Glass:</div>
    <div class="col-sm-6"><%= f.select( :glass, bag_options ) %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Cans:</div>
    <div class="col-sm-6"><%= f.select( :cans, bag_options ) %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Other:</div>
    <div class="col-sm-6"><%= f.select( :other, other_options ) %></div>

    <div class="col-sm-6"><%= f.hidden_field :recycler_user_id, value: @user[:id] %></div>

    <div class="col-sm-offset-5 col-sm-3 btn btn-primary"><%= f.button "Save Transaction" %></div>
<% end %>
</h4>
