<div class="col-lg-offset-4 col-lg-8"><h3>Recycle History for <%= @recycler.first_name %> <%= @recycler.last_name %></h3></div>

<h4>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-2">Redeemers</div>
        <div class="col-lg-1">Plastic</div>
        <div class="col-lg-1">Glass</div>
        <div class="col-lg-1">Cans</div>
        <div class="col-lg-2">Selection Date</div>
        <div class="col-lg-2">Completion Date</div>
        <div class="col-lg-1">Rating</div>
    </div>
</h4>
<h5>
<% @redeemers_for_recycler.each do |redeemer_recycler|%>
   <div class="row">
       <div class="col-lg-offset-1 col-lg-2">
            <%= redeemer_recycler.redeemer[:first_name] %>
            <%= redeemer_recycler.redeemer[:last_name] %>
        </div>
        <div class="col-lg-1"><%= redeemer_recycler[:plastic]%> </div>
        <div class="col-lg-1"><%= redeemer_recycler[:glass]%> </div>
        <div class="col-lg-1"><%= redeemer_recycler[:cans]%> </div>
        <div class="col-lg-2"><%= if redeemer_recycler[:selection_date] then redeemer_recycler[:selection_date].strftime('%b %d, %Y') end %> </div>
        <div class="col-lg-2"><%= if redeemer_recycler[:completion_date] then redeemer_recycler[:completion_date].strftime('%b %d, %Y') end %> </div>
        <div class="col-lg-1"><%= redeemer_recycler[:rating]%> </div>
    </div>
<%end%>
</h5>
<h4>
<div class="col-lg-offset-5 col-lg-3"><%= link_to "back to all recyclers", recyclers_path %></div>
</h4>