<div class="col-lg-7 col-lg-offset-5"><h1>All Recyclers</h1></div>
<div class="row">
  <h4>
    <div class="col-lg-offset-1 col-lg-1">First Name</div>
    <div class="col-lg-1">Last Name</div>
    <div class="col-lg-2">Email</div>
    <div class="col-lg-2">Phone</div>
    <div class="col-lg-3">Street</div>
    <div class="col-lg-2">City</div>
  </h4>
</div>
<div class="row">
  <h5>
  <% @recyclers.each do |recycler| %>
      <div class="col-lg-offset-1 col-lg-1">
        <a href="/recyclers/<%= recycler.id %>"><%= recycler.first_name %>  </a>
      </div>
      <div class="col-lg-1"><%= recycler.last_name %></div>
      <div class="col-lg-2"><%= recycler.email %></div>
      <div class="col-lg-2"><%= recycler.phone %></div>
      <div class="col-lg-3"><%= recycler.addr_line_1 %></div>
      <div class="col-lg-2"><%= recycler.city %></div>
      <% end %>
  </h5>
</div>
</br></br>
<h4>

<div class="col-lg-offset-5 col-lg-2">
  <%= link_to "Add New Recycler", new_recycler_path %>
</div>
<div class="col-lg-5"></div>
</h4>
