<h4>
<%= form_for @redeemer do  |f|  %>
    <div class="col-sm-offset-4 col-sm-2 form_label">First Name:</div>
    <div class="col-sm-6"><%= f.text_field :first_name, placeholder: "< first name >" %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Last Name:</div>
    <div class="col-sm-6"><%= f.text_field :last_name, placeholder: "< last name >" %></div>

    <!-- <div class="col-sm-6"><%# f.hidden_field :user_id, :value => @current_user.id %></div> -->

    <div class="col-sm-offset-4 col-sm-2 form_label">Email:</div>
    <div class="col-sm-6"><%= f.text_field :email, placeholder: "< email >" %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">Phone:</div>
    <div class="col-sm-6"><%= f.text_field :phone, placeholder: "< phone >" %></div>

    <div class="col-sm-offset-4 col-sm-2 form_label">DMV Number:</div>
    <div class="col-sm-6"><%= f.text_field :dmv_number, placeholder: "< dmv licence number >" %></div>

    <div class="col-sm-offset-5 col-sm-2 btn btn-primary"><%= f.button "Save Redeemer" %></div>
<% end %>
</h4>
