
<div ng-controller="RedeemerController">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9 "><img id="hi5_banner" src="/assets/hi5_banner.png" class="img-responsive" style="width: 60%;"alt="HI5 Banner"></div>
  </div>
  <div class="col-sm-offset-5 col-sm-7"><all></all></div>
  <div class="row">
    <div class="bs-example col-sm-offset-2 col-sm-8">
      <table class="table table-hover" id="recycler-table">
        <thead>
          <tr>
            <th>Select</th>
            <th>Address</th>
            <th>St. / Zip</th>
            <th>Plastic</th>
            <th>Cans</th>
            <th>Glass</th>
            <th>Other</th>
            <th>Posted</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transaction in transactions | filter: {selected: false}">

            <td>
              <input type="checkbox" ng-click="select()" ng-model="transaction.selected">
            </td>
            <td>{{transaction.address}}, {{transaction.city}} {{transaction.recycler_user_id}}</td>
            <td>{{transaction.state}} {{transaction.zipcode}}</td>
            <td>{{transaction.plastic}}</td>
            <td>{{transaction.cans}}</td>
            <td>{{transaction.glass}}</td>
            <td>{{transaction.other}}</td>
            <td>{{transaction.created_at | date:'MM/dd/yy h:mm a' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-offset-4 col-sm-8"><h1>Selected  by <%= current_user[:first_name]%>
    <%= current_user[:last_name]%></h1></div>
  <div class="row">
    <div class="bs-example col-sm-offset-2 col-sm-9">
      <table class="table table-hover" id="recycler-table">
        <thead>
          <tr>
            <!-- <th>Unselect</th> -->
            <th>Address</th>
            <th>St. / Zip</th>
            <th>Plastic</th>
            <th>Cans</th>
            <th>Glass</th>
            <th>Other</th>
            <th>Selected</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactions | filter: {selected: true, completed: false, redeemer_user_id: <%= current_user.id %> }" >
              <!-- <td>
                <input type="checkbox" ng-click="unselect()" ng-model="transaction.selected" checked>
                <input type="hidden" id="unselection_date" value="nil" />

              </td> -->
              <td>{{transaction.address}}, {{transaction.city}}</td>
              <td>{{transaction.state}} {{transaction.zipcode}}</td>
              <td>{{transaction.plastic}}</td>
              <td>{{transaction.cans}}</td>
              <td>{{transaction.glass}}</td>
              <td>{{transaction.other}}</td>
              <td>{{transaction.selection_date | date:'MM/dd/yy h:mm a' }} </td>
              <td>
                <button class="btn btn-primary btn-sm" ng-click="completed()"
                    ng-model="transaction.completed">Completed
                </button>
                <!-- <input type="checkbox" ng-click="completed()" ng-model="transaction.completed">
                <input type="hidden" id="completion_date" value="nil" /> -->
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <input type="hidden" id="center_latitude" value="<%= current_user.latitude %>" />
  <input type="hidden" id="center_longitude" value="<%= current_user.longitude %>" />
  <input type="hidden" id="current_user_id" value="<%= current_user.id %>" />
  <div id="map-canvas"></div>
</div><!-- ng-controller -->


