<div class="col-lg-7 col-lg-offset-5"><h1>All Transactions</h1></div>
<%# @user.inspect %></br>
<%# @transactions.inspect %>
<h4>
  <div class="col-lg-offset-1 col-lg-2">Recycler</div>
  <div class="col-lg-2">Redeemer</div>
  <div class="col-lg-1">Plastic</div>
  <div class="col-lg-1">Glass</div>
  <div class="col-lg-1">Cans</div>
  <div class="col-lg-1">Other</div>
  <div class="col-lg-1">Select</div>
  <div class="col-lg-1">Complete</div>
  <div class="col-lg-1">Rating</div>
</h4>
<h5>
<% @transactions.each do |transaction| %>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-2">
      <a href="/transactions/<%= transaction.id %>">
        <% recycler = Profile.where(user_id: transaction.recycler_user_id) %>
        <%= recycler[0][:first_name]%> <%= recycler[0][:last_name]%>
      </a>
    </div>
    <div class="col-lg-2">
        <%= if transaction.redeemer_user_id then transaction.redeemer_user_id end %>
    </div>
    <div class="col-lg-1"><%= transaction.plastic %></div>
    <div class="col-lg-1"><%= transaction.glass %></div>
    <div class="col-lg-1"><%= transaction.cans %></div>
    <div class="col-lg-1"><%= transaction.other %></div>
    <div class="col-lg-1"><%= if transaction.selection_date then transaction.selection_date.strftime("%b %d") end %></div>
    <div class="col-lg-1"><%= if transaction.completion_date then transaction.completion_date.strftime("%b %d") end  %></div>
    <div class="col-lg-1"><%= if transaction.rating then transaction.rating end %></div>
  </div>
    <% end %>
</h5>
</br></br>
<h4>

<div class="col-lg-offset-5 col-lg-3">
  <%= link_to "Add New transaction", new_transaction_path %>
</div>
<div class="col-lg-5"></div>
</h4>
