<div class="col-sm-7 col-sm-offset-4"><h1>Transaction for <%= @recyclers[0][:first_name] %> <%= @recyclers[0][:last_name] %></h1></div>
<h4>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-2 form_label">Recycler:</div>
        <div class= "col-sm-6"><%= @transaction.recycler_user_id %></div>
    </div>

    <div class="row">
        <div class="col-sm-offset-4 col-sm-2 form_label">Plastic:</div>
        <div class="col-sm-6"><%= @transaction.plastic %></div>
    </div>

     <div class="row">
        <div class="col-sm-offset-4 col-sm-2 form_label">Glass:</div>
        <div class="col-sm-6"><%= @transaction.glass %></div>
    </div>

     <div class="row">
        <div class="col-sm-offset-4 col-sm-2 form_label">Cans:</div>
        <div class="col-sm-6"><%= @transaction.cans %></div>
    </div>

     <div class="row">
        <div class="col-sm-offset-4 col-sm-2 form_label">Other:</div>
        <div class="col-sm-6"><%= @transaction.other %></div>
    </div>


    <div class="row">
        <div class="col-sm-offset-4 col-sm-2 form_label">Edit / Delete:</div>
        <div class="col-sm-6"><%= link_to "Edit", edit_transaction_path(@transaction) %> <!-- /recyclers/:id -->

        <%= link_to "Delete", transaction_path(@transaction), :method => :delete, :confirm => "Are you sure?" %></div>
    </div>
  </h4>
</div>