<h1>Show new Recycler (supplier)</h1>
<%= @user.inspect %>
<h4>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">First Name:</div>
        <div class= "col-lg-6">
          <a href="/recyclers/<%= @recycler.id %>"><%= @recycler.first_name %>  </a>
        </div>
        <div class="col-lg-offset-4 col-lg-2 form_label">Last Name:</div>
        <div class="col-lg-6"><%= @recycler.last_name %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Email:</div>
        <div class="col-lg-6"><%= @recycler.email %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Phone:</div>
        <div class="col-lg-6"><%= @recycler.phone %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Address Line 1:</div>
        <div class="col-lg-6"><%= @recycler.addr_line_1 %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Address Line 2:</div>
        <div class="col-lg-6"><%= @recycler.addr_line_2 %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">City:</div>
        <div class="col-lg-6"><%= @recycler.city %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">State:</div>
        <div class="col-lg-6"><%= @recycler.state %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Zipcode:</div>
        <div class="col-lg-6"><%= @recycler.zipcode %></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 form_label">Edit / Delete:</div>
        <div class="col-lg-6"><%= link_to "Edit", edit_supplier_path(@recycler) %> <!-- /@recyclers/:id -->

        <%= link_to "Delete", supplier_path(@recycler), :method => :delete, :confirm => "Are you sure?" %></div>
    </div>
  </h4>
</div>
