<!DOCTYPE html>
<html>
<head>
  <title>Recycle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body>
  <div id="wrap">
  <header>
    <div class="navbar navbar-inverse ">
      <div class="container">
         <% if !@user || !@user[:id] %>
          <div class="navbar-brand  col-sm-2">
            <a href="/">Home</a>
          </div>
        <% end %>

          <% if @user %>

            <% if @user[:function] == "redeemer" || @user[:function] == "admin" %>
            <div class="navbar-brand  col-sm-2">
              <a href="/redeemers">Select</a>
            </div>
            <% end %>

            <% if @user[:function] == "recycler" || @user[:function] == "admin" %>
            <div class="navbar-brand col-sm-2">
              <a href="/transactions/new">Recycle</a>
            </div>


            <div class="navbar-brand  col-sm-2" >
              <a href="/users/<%= @user[:id] %>">Profile</a>
            </div>
            <% end %>

          <% end %>
        <div class="navbar-brand col-sm-2" id="login" >

            <% if current_user %>
              <%= link_to "Logout", logout_path %>
              <% else %>
              <%= link_to "Login", login_path %>
            <% end %>
        </div>

    </div>
  </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-8 error">
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        <% end %>
     </div>
      <%= yield %>
    </div>
  </div>
</div>
  <%= render  :partial => "layouts/footer" %>
</body>
</html>

