<!DOCTYPE html>
<html ng-app="Hi5Exchange">
<head>
  <title>Recycle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body>
  <div id="wrap">
  <header>
    <div class="bs">
      <% if !current_user %>
        <%= render :partial => "layouts/signin" %>
        <%= render :partial => "layouts/how_it_works" %>
        <%= render :partial => "layouts/recycler_signup" %>
        <%= render :partial => "layouts/redeemer_signup" %>

      <% end %>
      <% if current_user %>
        <!-- <img id="logo" src="/assets/hi5_medium.png" class="img-responsive" style="width: 10%;"alt="HI5 logo"> -->
        <a href="/logout" class="right"><button class="btn btn-default btn-lg">Logout</button></a>
        <%= render :partial => "layouts/how_it_works" %>
        <% if current_user.function == "redeemer" || current_user.function == "recycler" ||    current_user.function == "admin" %>
          <%= render :partial => "layouts/profile" %>
        <% end %>
      <% end %>
    </div>
  </header>
  <div class="container">
    <div class="row">

      <div class="col-sm-offset-4 col-sm-8 error">
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <div class="alert alert-danger"><li><%= error %></li></div>
          <% end %>
        <% end %>
     </div>
      <%= yield %>
    </div>
  </div>
</div>
<div class="row">
  <%= render  :partial => "layouts/footer" %>
</div>
</body>
</html>

