<!DOCTYPE html>
<html ng-app="Hi5Exchange">
<head>
  <title>Recycle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body>
  <div id="wrap" ng-controller="landingPageController">
    <header>
      <div class="bs">
        <% if !current_user %>
          <button class="btn btn-default btn-lg right" ng-click="toggleSignIn()">Sign In</button>
          <button class="btn btn-default btn-lg right" ng-click="toggleHowItWorks()">How it Works</button>
          <button class="btn btn-default btn-lg right" ng-click="toggleRecyclerSignUp()">Recycler Sign Up</button>

        <% end %>
        <% if current_user %>
          <!-- <div ng-controller="logoutController">
            <button ng-click="logout()" class="btn btn-default btn-lg">Logout</button>
          </div> -->
          <a href="/logout" class="right"><button class="btn btn-default btn-lg">Logout</button></a>
          <button class="btn btn-default btn-lg right" ng-click="toggleHowItWorks()">How it Works</button>
          <button class="btn btn-default btn-lg right" ng-click="toggleUserProfile()">Profile</button>
          <span ng-show="isAdmin">
            <!-- <button class="btn btn-default btn-lg right" ng-click="toggleRedeemerSignUp()">Redeemer Sign Up</button> -->
            <a href="/groups" class="right"><button class="btn btn-default btn-lg">Redeemer Sign Up</button></a>
            <a href="/redeemers" class="right"><button class="btn btn-default btn-lg">Redeemer</button></a>
            <a href="/transactions" class="right"><button class="btn btn-default btn-lg">Recycler</button></a>
            <a href="/admins" class="right"><button class="btn btn-default btn-lg">Admin</button></a>
          </span>
          <input type="hidden" id="current_user_function" value="<%= current_user.function %>" />
          <input type="hidden" id="current_user_group_id" value="<%= current_user.group_id %>" />
        <% end %>
      </div><!--end class="bs" -->
    </header>
    <div class="container">


      <!-- Banner -->
      <div class="row">
        <div class="col-sm-offset-3 col-sm-9 "><img id="hi5_banner" src="/assets/hi5_banner.png" class="img-responsive" style="width: 60%;"alt="HI5 Banner"></div>
      </div><!--end row -->
      <!-- end Banner -->

      <!-- Flash Message -->
      <div class="row" ng-if="showFlash">
        <div class="col-sm-offset-2 col-sm-8 ">
          <div class="alert alert-{{flash.type}}">
            <button type="button" class="close closeRight" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{flash.message}}
          </div>
        </div><!--end col settings -->
      </div><!--end row -->

      <!-- <div class="col-sm-offset-2 col-sm-8 ">
        <%# flash.each do |key, value| %>
          <div class="alert alert-<%#= key %>"><%#= value %></div>
        <%# end %>
        </div> --><!--end col settings -->
      <!-- End Flash Message -->

      <!-- How It Works -->
      <div class="jumbotron" ng-show="howItWorks">
        <h2 class="heading_for_jumbotron">How it Works</h2>
        <div class="row">
          <h2 class="text-center">Recycler</h2>
          <li class="col-sm-offset-1 col-sm-11" ng-repeat="rule in recyclerRules"><p>{{rule}}</p></li>
          <h2 class="text-center">Redeemer</h2>
          <li class="col-sm-offset-1 col-sm-11" ng-repeat="rule in redeemerRules" ><p>{{rule}}</p></li>
        </div><!--end row -->
      </div><!--end howItWorks -->
      <!-- end How It Works -->

      <!-- User Profile users_controller -->
      <% if current_user %>
        <div class="jumbotron" ng-show="userProfile">
          <h2 class="heading_for_jumbotron">Edit <%= current_user.function.capitalize %> Profile</h2>
          <input type="hidden" id="current_user_id" value="<%=current_user.id%>"/>
          <form ng-submit="updateUser()">
            <div class="row">
              <h2 class="text-center">Profile Information</h2>
              <div class="col-sm-offset-2 col-sm-3 text-right">First Name:</div>
              <div class="col-sm-7"><input type="text" ng-value="user.first_name" ng-model="user.first_name" required></div>
              <div class="col-sm-offset-2 col-sm-3 text-right">Last Name:</div>
              <div class="col-sm-7"><input type="text" ng-value="user.last_name" ng-model="user.last_name" required></div>
              <div class="col-sm-offset-2 col-sm-3 text-right">Email:</div>
              <div class="col-sm-7"><input type="email" ng-value="user.email" ng-model="user.email" required ></div>
              <div class="col-sm-offset-2 col-sm-3 text-right">Phone:</div>
              <div class="col-sm-7"><input type="tel" ng-value="user.phone" ng-model="user.phone" ></div>
              <div class="col-sm-offset-2 col-sm-3 text-right">Address:</div>
              <div class="col-sm-7"><input type="text" ng-value="user.address" ng-model="user.address" required></div>
              <div class="col-sm-offset-2 col-sm-3 text-right">City:</div>
              <div class="col-sm-7"><input type="text" ng-value="user.city" ng-model="user.city" required></div>
              <div class="col-sm-offset-2 col-sm-3 text-right">State:</div>
              <div class="col-sm-7"><input type="text" ng-value="user.state" ng-model="user.state" required></div>
              <div class="col-sm-offset-2 col-sm-3 text-right">Zipcode:</div>
              <div class="col-sm-7"><input type="text" ng-value="user.zipcode" ng-model="user.zipcode" required></div>
              <div ng-if="user.function === 'redeemer' || user.function === 'admin' || user.function ==='super_admin'">
                <div class="col-sm-offset-2 col-sm-3 text-right">Radius (miles):</div>
                  <div class="col-sm-7"><input type="text" ng-value="user.radius" ng-model="user.radius" required></div>
              </div>
              <p></p>
              <div class="col-sm-offset-5 col-sm-1">
                <input type="submit" value="Update Profile" class="btn btn-primary">
              </div>
            </div><!-- end row -->
          </form>
        </div><!-- end jumbotron userProfile-->
      <% end %><!-- end current_user -->
      <!-- End User Profile -->

      <%= yield %>

      <% if !current_user %>
        <!-- Landing Page -->
        <div class="jumbotron" ng-hide="howItWorks || signIn || redeemerSignUp || recyclerSignUp || userProfile">
          <h2 class="heading_for_jumbotron">Helping Hawaii Recycle</h2>
          <h2 class="text-center">Welcome to Hi5 Exchange</h2>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11" ng-repeat="welcomeComment in welcomeComments"><p>{{welcomeComment}}</p></div>
          </div><!--end row -->
          <h3 class="text-center">Everybody wins! Sign up now.</h3>
        </div><!--end jumbotron -->
        <!-- end Landing Page -->
      <% end %><!--end !current_user -->

      <!-- User Sign UP users_controller -->
      <div class="jumbotron" ng-show="redeemerSignUp || recyclerSignUp">
        <h2 class="heading_for_jumbotron" ng-show="redeemerSignUp">Redeemer Sign up</h2>
        <h2 class="sub_heading_for_jumbotron" ng-show="redeemerSignUp">Exchange Recyclables for Cash!</h2>
        <h2 class="heading_for_jumbotron" ng-show="recyclerSignUp">Recycler Sign up</h2>
        <h2 class="sub_heading_for_jumbotron" ng-show="recyclerSignUp">Recyclables picked up for Free!</h2>
        <form ng-submit="addUser()">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-9 ">
              <h2>Login Information</h2>
            </div>
            <div class="col-sm-offset-2 col-sm-3 text-right">Username:</div>
            <div class="col-sm-7">
              <input type="text" placeholder="username" ng-model="newUser.username" required>
            </div>
            <div class="col-sm-offset-3 col-sm-9"><p>{{pwdLength}}</p></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">Password:</div>
            <div class="col-sm-7"><input type="password" placeholder="password" ng-model="newUser.password" required></div>
            <div class="col-sm-offset-0 col-sm-5 text-right">Password Confirmation:</div>
            <div class="col-sm-7"><input type="password" placeholder="password confirmation" ng-model="newUser.password_confirmation" required></div>
            <div class="col-sm-offset-3 col-sm-9 ">
              <h2>Profile Information</h2>
            </div>
            <div class="col-sm-offset-2 col-sm-3 text-right">First Name:</div>
            <div class="col-sm-7"><input type="text" placeholder="first name" ng-model="newUser.first_name" required></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">Last Name:</div>
            <div class="col-sm-7"><input type="text" placeholder="last name" ng-model="newUser.last_name" required></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">Email:</div>
            <div class="col-sm-7"><input type="email" placeholder="email" ng-model="newUser.email" required ></div>
            <div class="col-sm-offset-3 col-sm-9"><p>{{textAndEmail}}</p></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">Phone:</div>
            <div class="col-sm-7"><input type="tel" placeholder="phone" ng-model="newUser.phone" ></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">Address:</div>
            <div class="col-sm-7"><input type="text" placeholder="address" ng-model="newUser.address" required></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">City:</div>
            <div class="col-sm-7"><input type="text" placeholder="city" ng-model="newUser.city" required></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">State:</div>
            <div class="col-sm-7"><input type="text" placeholder="state" ng-model="newUser.state" required></div>
            <div class="col-sm-offset-2 col-sm-3 text-right">Zipcode:</div>
            <div class="col-sm-7"><input type="text" placeholder="zipcode" ng-model="newUser.zipcode" required></div>
            <!-- New Group Id  -->
            <div><input type="hidden" ng-model="newUser.group_id" id="group_id" value="3"></div>

            <div ng-if="redeemerSignUp"><input type="hidden" id="user_function"  value="redeemer" ></div>
            <div ng-if="recyclerSignUp"><input type="hidden" id="user_function"  value="recycler" ></div>
            </br>
            <div class="col-sm-offset-3 col-sm-9"><textarea class="terms" readonly="readonly">{{terms}}</textarea></div>
            </br>
            <div class="col-sm-offset-3 col-sm-9"><input type="checkbox" required> {{conditions}}</div>
            <p></p>
            <div class="col-sm-offset-5 col-sm-1">
              <input type="submit" value="Submit" class="btn btn-primary">
            </div>
          </div><!-- end row -->
        </form>
      </div><!--end jumbotron - redeemerSignUp -->
      <!-- end User Sign UP -->

      <!-- Sign In sessions_controller -->
      <div class="jumbotron" ng-show="signIn">
        <h2 class="heading_for_jumbotron">Hi5 Exchange Login</h2>
        <form action="/sessions" method="post">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-2 text-right">Username:</div>
            <div class="col-sm-4"><input type="text" placeholder="username" name="username"  required></div>
            <div class="col-sm-offset-3 col-sm-2 text-right">Password: </div>
            <div class="col-sm-4"><input type="password" placeholder="password" name="password" required ></div>
            <div class="col-sm-offset-5 col-sm-7"><input class="btn btn-primary btn-md" type="submit" ></div>
          </div><!-- end row -->
         </form>
      </div><!-- end jumbotron signIn -->
      <!-- End Sign In -->

    </div><!--end container -->
  </div><!--end landingPageController -->
  <footer>
    <div class="container">
      <div class="row">
        <h6 class="text-center">Hi5 Exchange - Copyright 2013</h6>
      </div>
      <br/><br/>
    </div>
  </footer>
</body>
</html>

